<!DOCTYPE>
<body>

<h1>H#SH CA$HE:</h1>
<p>Lorem ipsum dolar...</p>

<div>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Log In', new_user_session_path %></li>

  <!-- curently work to get redirect to localhost -->

  <li><a href="https://api.instagram.com/oauth/authorize/?client_id=4904d8f0e3ab48a8bb7c129418dac91a&redirect_uri=http://localhost:3000&response_type=code">Sign in with Instagram</a></li>

   <!-- TO DO:
    # route to new address, e.g. http://localhost:3000/auth/user/#{user.id}
    # through that process, scrape URL for access token
    # AJAX request for JSON to api from authenticated user with token
    # parse lattitude / longitude of photos in specific area and save
-->

  <!-- below not working / rails link_to -->
  <p><b>Don't use:</b></p>
  <ul>
    <li style="color: red;"><%= link_to "Sign in with Instagram", user_omniauth_authorize_path(:instagram), :style => "color: red;" %>
    </li>
  </ul>
</div>

<% if user_signed_in? %>
  <p>This is fine to log out with:</p>
  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
<% end %>

</body>